.default-theme {
  &.app-container {
    background-color: $df-main-color;

    .main-panel {
      color: $df-text-color;
    }

    .page li {
      background-color: white;
    }

    .word {
      color: $df-text-color;

      .info {
        span {
          color: transparent;

          &:hover {
            color: $df-text-color;
          }
        }
      }
    }

    .logo {
      background-color: $df-logo-color;
      color: $df-main-color;

      &:hover {
        background-color: $df-logo-hover-color;
      }
    }

    .module {
      background-color: white;
      box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.5);

      .header {
        border-bottom: solid 1px #DDD;
      }
    }

    .menu {
      li:hover {
        background-color: #EEE;
        box-shadow: inset 1px 1px 4px 0 #DDD;
      }

      &.tabs {
        li.active {
          background-color: #EEE;
          box-shadow: inset 1px 1px 4px 0 #DDD;
        }
      }
    }

    a {
      text-decoration: none;
    }


    font-family: 'Roboto', sans-serif;
  }
}
