@import '../_variables';

.comparator {
  input {
    display: inline-block;
    margin: 0.33em auto;
    padding: 10px 20px;
    box-sizing: border-box;

    border: 0;
    outline: 0;

    font-size: 0.35em;

    @media #{$mobile} {
      font-size: 0.38em;
    }

    @media #{$desktop-xxxl} {
      font-size: 0.35em;
      //font-size: 3vw;
    }

    color: #222;
  }
}
