// out: ../public/css/main.css, sourcemap: true, compress: true

@import '_variables';
@import '_reset';

@import 'themes/default-theme';


// MAIN

// General rules
//

[riot-tag] {
  display: block;
}

.logo-section {
  text-align: left;
}

.logo {
  position: absolute;
  top: 20px;
  left: 20px;

  padding: 20px;
  font-size: 40px;
  line-height: 20px;
  width: 20px;

  display: inline-block;
  border-radius: 250px;
  text-align: center;

  font-weight: 900;
  cursor: pointer;

}

html,
body {
  height: 100%;
}

.app-container {
  min-height: 100% !important;
  width: 100%;

  font-size: 18px;

}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

li {
  padding: 0;
}

.word {

  display: inline-block;
  padding-top: 6vh;

  .big {
    @media @mobile {
      font-size: 6vh;
    }

    @media @tablet {
      font-size: 10vw;
    }

    @media @desktop {
      font-size: 10vw;
    }

    @media @desktop-xl {
      font-size: 8vw;
    }

    @media @desktop-xxl {
      font-size: 7vw;
    }
  }

  .big;

  h2 {
    //margin: 0 0 6vh 0;
    margin: 0;
    text-align: center;
    text-transform: capitalize;

  }

  .info {
    text-align: center;
    font-size: 0.26em;
    position: relative;

    span {
      cursor: pointer;
      text-transform: capitalize;
      &:first-child,
      &:last-child {
        position: absolute;
      }

      &:first-child {
        left: 5px;
      }

      &:last-child {
        right: 5px;
      }
    }
  }
}

.menu {
  display: inline-block;

  li {
    display: inline-block;
    padding: 6px 8px;

    cursor: pointer;
  }

  &.toggle {
    li {
      display: none;
      &.active {
        display: inline-block;
      }
    }
  }
}

.menu:not(:first-of-type) {
  margin-left: 20px;
}
